.button{
    padding: 10px 5px;
    border-radius: 10px;
    border: 0;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    float: left;
    display: inline;
    width: 3.8%;
    transition: 0.4s;
}


.button:hover{
    background-color: #5c5b5b;
    scale: 1.100;
    box-shadow: 1px 1px 4px rgb(0, 0, 0.9);
    
}
