.CardGame {
  background: #2983AA;
  width: 1000px;
  flex-shrink: 0;
  }



.CardGame img{
    object-fit: cover;
    height: 70%;



}

.CardGame div:first-child{
  width: 225px;
  height: 37px;
  flex-shrink: 0;
  width: 60%;



  

}

.CardGame div:last-child{
  display: inline;
  flex-direction: column;
  align-items: right;
  padding: 1px;
  width: 60%;
  float: right;
  width: 45%;
  
} 

.CardGame div:last-child p{
  color: #a8a8a8;
text-decoration-line: line-through ;
font-size: 13px;
}



.game{
  color: #FFF;
  float: right;
  position: relative;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;

 
}

.CardGame div:last-child h4{
  color: #C7C7C7;
  position: relative;
  float: left;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

