.CardGame {
  background: #2983aa;
  width: 1000px;
  flex-shrink: 0;
  margin: 0px;
}

.CardGame img {
  height: 100%;
}

.CardGame div:first-child {
  width: 225px;
  height: 37px;
  flex-shrink: 0;
  width: 60%;
}

.CardGame div:last-child {
  display: flex;
  justify-content: center;
  padding: 10px;
  float: right;
  width: 34%;
  align-items: center;
  margin-top: 55px;
  margin-right: 20px;
  margin-bottom: 0;
}

.game {
  padding: 2px;
  color: #fff;
  float: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.CardGame div:last-child p {
  color: #a8a8a8;
  text-decoration-line: line-through;
  font-size: 13px;
}

.Categorias h3 {
  color: #c7c7c7;
  float: left;
  position: absolute;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding-top: 35px;
  padding-left: 400px;
}
.game h1{
  color: #beeb14;
  font-size: 32px;
  font-weight: 700;
  padding-left: 3px;
  margin-top: 0px;
  padding-top: 65px;
 


}
